body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("image/background0.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    background-size: 1000% 1000%;
    animation: gradient 7s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }


    50% {
        background-position: 100% 50%;
    }


    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
}
body ul {
    list-style: none;
}

.header .nar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    background-color: black;
}

.header .logo a {
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

.header .menu ul {
    margin-left: 700px;
}

.header .menu ul li {
    display: inline-block;
    margin-left: 60px;
    align-items: center;
}

.header .menu ul li a{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 20px;
    transition: 0.5s;
}

.header .menu ul li a:hover {
    color: dodgerblue;
    letter-spacing: 2px;
    font-size: 25px;
}

.header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 2px;

}

.header .logo a {
    font-size: 25px;
}

.header .logo span {
    position: relative;
    bottom: 5px;
    transition: 0.5s;

}
.header .logo span:hover {
    transition: 0.5s;
    color: cornflowerblue;
    border-radius: 40px;
}


.contactEmail form {
    position: relative;
    left: 1000px;
    top: 150px;
    width: 380px;
    height: 400px;
    background: rgba(0,0,0,0.1);
    box-shadow: 5px 5px rgba(0,0,0,0.6);
    padding: 20px;
    border: solid black;
    border-radius: 10px;
}

.contactEmail {
    color: black;

}



.contactEmail input {
    float: right;
    width: 230px;
}

.contactEmail textarea {
    float: right;
    width: 230px;
    height: 200px;
}

#submit {
    width: 70px;
    margin-right: 20px;
}

#reset {
    width: 70px;
}

.button {
    width: 160px;
    position: relative;
    top: 40px;
    display: flex;
    left: 190px;
}

.button input {
    width: 50px;
    margin-right: 15px ;
}

.Social img {
    width: 25px;
    height: 25px;
}

.Social ul li {
    line-height: 1.5em;
}

.Social li a {
    color: black;
}

.Social li span {
    margin-left: 5px;
}

.annieInfo {
    width: 350px;
    height: auto;
    position: relative;
    bottom: 350px;
    left: 50px;
    font-weight: bold;
}

.annieInfo h4 {
    font-size: 1.4em;
    color: white;
}

.contactEmail label {
    font-weight: bolder;
}

.annieInfo p {
     font-family: 'Nunito', sans-serif;;

}

.thankyou  h2{
    font-family: 'Dancing Script', cursive;
    position: relative;
    left: 648px;
    top: 280px;
    font-size: 2.5em;

}

.thankyou h2:before {
    content: "";
    width: 250px;
    height: 2px;
    background: #292b2f;
    position: absolute;
    bottom: 2px;
    right: 150px;

}