body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("image/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

 .header .nar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    background-color: black;
}

.header .logo a {
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

.header .menu ul {
    margin-left: 700px;
}

.header .menu ul li {
    display: inline-block;
    margin-left: 60px;
    align-items: center;
}

.header .menu ul li a{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 20px;
    transition: 0.5s;
}

.header .menu ul li a:hover {
    color: dodgerblue;
    letter-spacing: 2px;
    font-size: 25px;
}

a {
    text-decoration: none;
}
body ul {
    list-style: none;
}

.header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 2px;

}

.header .logo a {
    font-size: 25px;
}

.header .logo span {
    position: relative;
    bottom: 5px;
    transition: 0.5s;

}
.header .logo span:hover {
    transition: 0.5s;
    color: cornflowerblue;
    border-radius: 40px;
}


.info {
    width: 100%;
    height: 70px;
    background-color: black;

}

.info {
    position: relative;
    top: 75px;
}
.info .social  a img {
    width: 25px;
    height: 25px;
    padding-right: 15px;

}

.info .email form input[type="submit"] {
    position: relative;
    top: 20px;
    right: 75px;
}

.info .email form input[type="submit"] {
    font-size: 15px;
    color: white;
    background-color: black;
    border: inset deepskyblue;
}

.info {
    display: flex;
}

.info .email h4{
    color: white;
    position: relative;
    bottom: 28px;
    right: 10px;
}
.info span {
    color: white;
    margin-left: 20px;
    font-size: 1.3em;
}

.info .social ul li{
    display: inline-block;
}

.info .email {
    position: relative;
    left: 1100px;
}

.info .social {
    position: relative;
    left: 1090px;
}

.info .social  a img {
    width: 25px;
    height: 25px;
    padding-right: 15px;

}
.info span {
    color: white;
    margin-left: 20px;
    font-size: 1.3em;
}

.info .social ul li{
    display: inline-block;
}

.info .email {
    position: relative;
    left: 1100px;
}

.info .social {
    position: relative;
    left: 1090px;
}

.info .social  a img {
    width: 25px;
    height: 25px;
    padding-right: 15px;

}
.info .social  a img:hover {
    transition: 0.5s;
    width: 33px;
    height: 33px;
}
.name {
    color: white;
    position: relative;
    right: 420px;
    margin-top: 20px;
}

 .experienceHeader h1 {
    animation: chuChay1 2s forwards;
    transition: 1s;
}

@keyframes chuChay1 {
    from {
        opacity: 0;
        margin-left: 300px;
    }
    to {
        opacity: 1;
        margin-right: 300px;
    }
}

.experienceList h2 {
    padding-left: 10px;
}

.experienceList td {
    padding: 15px;
}